.form-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .form-header {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .form-input textarea {
    height: 100px;
    resize: vertical;
  }
  
  .form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-submit:hover {
    background-color: #012c5a;
  }